* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.riser,
.hotel,
.services,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*.riser {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}*/

.services {
  background-image: url("./images/IMG_8158.JPG");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.home {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.sign-up {
  background-image: url("./images/email.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: darkolivegreen;
  font-size: 100px;
}

.hotel {
  background-image: url("./images/hotells.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 1000px) {
  .hotel {
    background-size: 100%;
    background-repeat: inherit;
  }

  .sign-up {
    background-size: 100%;
    background-repeat: inherit;
  }

  .services {
    background-size: 100%;
    background-repeat: inherit;
  }
}
