* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.riser,
.hotel,
.services,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*.riser {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}*/

.services {
  background-image: url("./images/IMG_8158.JPG");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.home {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.sign-up {
  background-image: url("./images/email.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: darkolivegreen;
  font-size: 100px;
}

.hotel {
  background-image: url("./images/hotells.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 1000px) {
  .hotel {
    background-size: 100%;
    background-repeat: inherit;
  }

  .sign-up {
    background-size: 100%;
    background-repeat: inherit;
  }

  .services {
    background-size: 100%;
    background-repeat: inherit;
  }
}



@media screen and (max-width: 360px){

  .navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: start;

}

.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    transform: translate(25%, 50%);



    
}
.hero-container > P {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 30px;
  color: #fff;
  align-items: center;
  align-content: center;
  font-family: "Trebuchet Ms", "Lucide Sans Unicode", "Lucide Grande", "Lucide Sans", Arial, Helvetica, sans-serif;
}


.nav-menu {
  
  justify-content: start;
}


}